name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Lint ${{ matrix.hook }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        hook: ["ruff", "djlint-django"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Lint ${{ matrix.hook }}
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: ${{ matrix.hook }} --all-files
